@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Montserrat&family=Nosifer&family=Permanent+Marker&family=Poppins&display=swap');
$lato: 'Lato', sans-serif;
$mont: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$indie: 'Indie Flower', cursive;
$nosifer: 'Nosifer', cursive;
$pmarker: 'Permanent Marker', cursive;
$whitetrans: rgba(255, 255, 255, 0.644);

body,
html {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
}

#container {
  display: grid;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: fit-content 92%;
  z-index: 3;
  #logo {
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    border: rgba(255, 192, 203, 0) solid;
    font-size: 1.9rem;
    font-family: $nosifer;
    color: #c2c2c2;
    cursor: default;
    .bg-toggle {
      margin-left: 1rem;
      border: none;
      background: white;
      border-radius: 5px;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      font-family: $mont;
      cursor: pointer;
    }
    .bg-toggle:hover {
      background: grey;
      color: white;
    }
  }

  #social-links {
    position: fixed;
    right: 0;
    top: 0;
    margin: 1rem;
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    background: white;
    border-radius: 5px;
    font-size: 5vw;
    z-index: 100;
    text-align: center;
    .each-social {
      color: black;
      transition: 0.3s;
    }
    .each-social:hover {
      color: rgb(71, 71, 71);
    }
    .each-social:nth-child(2) {
      margin-left: 0.5rem;
    }
    #nav {
      font-weight: bold;
      font-size: 1rem;
      font-family: $pmarker;
      .each-link {
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: 0.3s;
      }
      .each-link:hover {
        color: rgb(87, 87, 87);
      }
    }
    @media only screen and (max-width: 415px) {
      #nav {
        font-size: 3vw;
      }
    }
  }

  #main-content {
    grid-column: span 2;
    z-index: 4;
    #about {
      background: $whitetrans;
      padding: 1rem 1.5rem 5rem 1.5rem;
      margin: 4% auto 4% auto;
      height: fit-content;
      width: 80%;
      border-radius: 8px;
      box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.61);
      .tech-icon-container {
        float: right;
        margin-left: 1rem;
        padding: 0.5rem;
        height: fit-content;
        background: $whitetrans;
        border-radius: 5px;
        img {
          width: 30px;
          height: 30px;
          transition: 0.3s;
          &:hover {
            transform: rotate(360deg);
          }
        }
      }

      .top-img {
        float: left;
        height: 20vh;
        border-radius: 50%;
        box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.61);
        outline: 4px solid grey;
        outline-offset: -3px;
        margin: 0 auto;
        shape-outside: circle();
        margin-right: 1.5rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .img-right {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4rem;
        margin-bottom: 1rem;
        height: 20vh;
        border-radius: 50%;
        box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.61);
        outline: 4px solid grey;
        outline-offset: -3px;
        shape-outside: circle();
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      h4 {
        text-align: center;
      }
      p {
        text-align: justify;
        text-indent: 3rem;
        font-family: $mont;
      }
      @media only screen and (max-width: 415px) {
        .top-img {
          margin-bottom: 1rem;
        }
        p {
          text-align: left;
          text-indent: 1rem;
        }
      }
    }

    #projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 4% auto 8% auto;
      width: 90%;
      height: fit-content;
      gap: 2rem;
      z-index: -1;
      font-family: $mont;
      .proj {
        position: relative;
        width: 20em;
        aspect-ratio: 4 / 3;
        margin: auto;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
        text-decoration: none;
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        .proj-button {
          position: relative;
          top: 40%;
          left: -20px;
          width: fit-content;
          background: rgb(255, 255, 255);
          border-radius: 500px;
          border: rgba(255, 255, 255, 0.103) solid 7px;
          color: rgb(0, 0, 0);
          font-family: $mont;
          font-weight: bold;
          cursor: pointer;
          transition: 0.2s;
        }
        .proj-button:hover {
          background: rgb(58, 58, 58);
          color: white;
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.555);
          transform: scale(1.6);
        }
        .proj-button:active {
          background: rgb(27, 27, 27);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.555);
        }
        .proj-title {
          position: absolute;
          top: 0;
          width: 100%;
          height: 1.3em;
          color: black;
          text-align: center;
          font-weight: bold;
          background: rgba(255, 255, 255, 0.61);
          display: none;
        }
        .proj-tech {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: fit-content;
          color: black;
          text-align: center;
          font-weight: bold;
          background: rgba(255, 255, 255, 0.61);
          display: none;
        }
      }

      .proj:hover > .proj-title {
        display: block;
        animation-name: show-title;
        animation-duration: 1s;
        -webkit-name: show-tite;
        -webkit-animation-duration: 1s;
      }

      .proj:hover > .proj-tech {
        display: block;
        animation-name: show-tech;
        animation-duration: 1s;
        -webkit-name: show-tite;
        -webkit-animation-duration: 1s;
      }

      @keyframes show-title {
        0% {
          opacity: 0;
          -webkit-opacity: 0;
        }
        100% {
          opacity: 1;
          -webkit-opacity: 1;
        }
      }

      @keyframes show-tech {
        0% {
          opacity: 0;
          -webkit-opacity: 0;
        }
        100% {
          opacity: 1;
          -webkit-opacity: 1;
        }
      }
    }
  }

  #projects .proj-one {
    position: relative;
    animation-name: child1;
    animation-duration: 0.5s;
  }

  @keyframes child1 {
    0% {
      transform: translatex(100px) translatey(-100px);
      opacity: 0;
    }
    100% {
      transform: translatex(0px) translatey(0px);
      opacity: 1;
    }
  }

  #projects .proj-two {
    position: relative;
    animation-name: child2;
    animation-duration: 0.5s;
  }

  @keyframes child2 {
    0% {
      transform: translatex(100px) translatey(100px);
      opacity: 0;
    }
    100% {
      transform: translatex(0px) translatey(0px);
      opacity: 1;
    }
  }

  #projects .proj-three {
    position: relative;
    animation-name: child3;
    animation-duration: 0.5s;
  }

  @keyframes child3 {
    0% {
      transform: translatex(-100px) translatey(100px);
      opacity: 0;
    }
    100% {
      transform: translatex(0px) translatey(0px);
      opacity: 1;
    }
  }
}

#contact {
  background-image: url('https://i.ibb.co/VN60yMy/trees-in-the-ocean-Trading-Card.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  height: 20rem;
  width: 80%;
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 4% auto;
  text-align: center;
  form {
    background: rgba(255, 255, 255, 0.603);
    border-radius: 5px;
    padding: 2% 0;
    height: 17.5rem;
    input,
    textarea {
      margin: 0.25rem auto 0 auto;
      width: 80%;
    }

    textarea {
      max-width: 80%;
      max-height: 55%;
    }

    .btn19 {
      margin-top: 0.25rem;
      border-radius: 100rem;
      font-size: 0.7rem;
      padding: 0.5rem 2rem;
      color: black;
      box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
      border: solid 4px transparent;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(50deg, #00ff62, #7700ff);
      background-origin: border-box;
      box-shadow: 2px 1000px 1px #fff inset;
      transition: 0.3s;
    }

    .btn19:hover {
      box-shadow: none;
      color: white;
    }

    .btn19:active {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(90deg, #00ff62, #7700ff);
    }
  }
}

footer {
  background: rgba(255, 255, 255, 0.788);
  font-family: $mont;
  font-size: 0.75rem;
  text-align: center;
  line-height: 2.5;
  padding: 1rem;
  width: 100%;
}

#BG {
  z-index: -10000;
}

.change-bg {
  position: fixed;
  height: 110vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1000;
  transition: 1s;
}
